*.RData
*.RDS
*.exe
*.pdf
*.hpp
.vscode/
chap04/.Rhistory
chap04/output/fig4-2-left.png
chap04/output/fig4-2-right.png
yndk/bayes_1.html
.Rproj.user
yndk/twopl/outputs/*
.venv/
chap04/output/
chap04/run-exercise4.html
chap04/run-model4-4.html
chap04/model/model_equal_sd.stan
chap04/.ipynb_checkpoints/run-model4-4-checkpoint.ipynb
chap08/model/model8-4
chap08/model/model8-3
chap08/model/model8-2
chap08/model/model8-1
chap04/output/*
yndk/twopl/outputs.zip
yndk/.Rhistory
yndk/bernoulli/cmdstanr.html
yndk/bernoulli/cmdstanr.Rmd
yndk/bernoulli/install_cmdstanr.R
yndk/yndk.Rproj
chap05/output/*
chap05/UntitledR.R
chap05/fig5-4_std.R
chap05/run-model5-3.R
yndk/bernoulli/children/_settings-knitr.Rmd
yndk/exercises/stan/*

chap05/model/model5-3-gamma.stan
yndk/ch04/model/model_equal_sd.stan
yndk/ch04/model/model_equal_sd_delta.stan
yndk/ch04/model_unequal_sd.stan
chap04/model/model4-4
.DS_Store
